* {
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-size: 3rem;
  transform: rotate(-90deg);
  margin: 0;
  height: 45px;
  position: absolute;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  margin: 0;
  font-size: 1.5rem;
}

.new-palette {
  height: 100px;
  width: 200px;
  margin: 0 0 20px 50px;
  box-shadow: 5px 5px 5px #000;
}

.new-palette:hover {
  background: linear-gradient(#e66465, #9198e5);
}

#project-select {
  display: block;
}

.new-palette-container {
  display: flex;
  margin-bottom: 20px;
}

.palette-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 100px 0 0;
}

.color-box {
  height: 70px;
  width: 200px;
  background: #808080;
  margin-bottom: 10px;
}

.hexcode {
  width: 80px;
}

.lock-button {
  all: unset;
  height: 20px;
  width: 20px;
  margin-left: 10px;
  background-size: cover;
  background-image: url('open-padlock-silhouette.svg');
}

.color-box-container {
  display: flex;
  align-items: center;
}

.project-section {
  margin-top: 50px;
}

.project-container {
  overflow: scroll;
  /* height: 88vh; */
  margin-top: 50px;
}

.project-card {
  width: 300px;
  min-height: 100px;
  /* background: chartreuse; */
}

.locked {
  background-image: url('padlock.svg');
}

.palette-card {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.palette {
  width: 20px;
  height: 20px;
  margin: 0 2px;
}